[2012-08-10 20:56] klrmn opened #1 "the check to make sure not --looponfail isn't working"

[2012-08-10 20:58] klrmn opened #2 "setuptools entrypoint"

[2012-10-18 18:07] sfbrian opened #4 "Rerun output not available when using xdist"
So the output when running single threaded works just fine. It looks something like this:

common/automation/webdriver/tests/home_tests.py:207: MobileHomeTests.test_repeat_test PASSED
------------------------------------------------------------------------------------------------------------ 3 failed tests rerun --------------------------------------------------------------------------------------

[2012-10-18 18:44] #2 closed, assigned to nobody

[2012-11-07 06:58] kksure opened #7 "setup_class running multiple times"
Hi,

we have a class that looks like below:

========================
def setup_class
      raises exception

def test_one
     pass

def test_two
     pass

def test_three
     pass

=========================

when the setup fails we expect all the tests to fail. However after I installed this plugin, the setup_class is run before every test.

Is there a way to suppress the rerun of setup with ev

[2012-12-28 22:37] #4 closed, assigned to nobody

[2013-04-15 00:54] bobsilverberg opened #10 "pytest-rerunfailures not using fixtures on reruns"
Hi @klrmn,

I'm not totally sure that this is what is actually happening, but we were seeing some strange behaviour on moztrap-tests with the plugin active. We have a fixture which is used to log in to Moztrap at the beginning of a test [1]. With the plugin active I am seeing tests where it appears as if the fixture didn't run, because the login isn't even being attempted [2]. After deactivating t

[2013-07-11 14:59] floer32 opened #11 "README should make it clear that *each* test gets rerun *up to* N times"
Great plugin! It's so useful for us here... particularly with Jenkins integration, since we have a few flakey browser-based tests.

I just wanted to point out that the current phrasing in the README was a little ambiguous to me. And as a result, I misinterpreted the `--reruns` count to be a global count. And I didn't like that, so I endeavored to basically fork and modify the functionality so that

[2013-07-11 19:38] #11 closed, assigned to nobody

[2013-10-28 20:47] #10 closed, assigned to nobody

[2013-10-28 20:49] bobsilverberg opened #13 "pytest-rerunfailures seeing skips as failures"
When running a test that includes a `@pytest.mark.skipif()`, when the test is skipped by pytest the plugin sees this as a failure and tries to rerun the test which is, of course, skipped again. With our Selenium tests, this causes a browser to open and then immediately close, which is unnecessary overhead (as is really any activity required to run and skip the test again).

The plugin should be up

[2014-05-05 07:17] florianpilz opened #14 "Only rerun certain Tests"
We are mostly using this plugin to make flaky tests green. (The flakiness is most often out of our scope or only present on the Jenkins machine.)

However, this plugin reruns ALL tests. Since some of our flaky tests need 5 or more runs, using this plugin will slow down the test suite by a magnitude when we introduce a bug which breaks many tests.

Therefore we would be very glad if it would be pos

[2014-07-30 10:45] #14 closed, assigned to nobody

[2014-11-18 12:32] sashakruglov opened #18 "rerun only errors, not failures"
hey @klrmn

is it possible to rerun only errors, not failures?
is it possible to develop additional switch/hook to allow rerun only of errors?

thanks in advance,

[2015-02-04 17:57] keightley92 opened #20 "Number of times a test is reran?"
Is there a way to see how many times one test was reran, i know at the end it shows how many where reran but it dosent show how many times one test was reran

[2015-02-04 19:14] klrmn commented on #20
not in so many words, but if you use the "-r R" flag, then it will create a
list like

=========================== rerun test summary info ============================
RERUN test_report_on_with_reruns.py::test_flaky_test
RERUN test_report_on_with_reruns.py::test_flaky_test

Please note that pytest-rerunfailures is not under active development,
and I am unlikely to implement any new features.

-Lea

[2015-05-21 06:02] florianpilz commented on #13
Hi bobsilverberg! We (gocept) have accepted the ownership of pytest-rerunfailures and are the new maintainers.

The problem you are encountering should be fixed, I agree. But it looks to me as if it is the same problem as stated by Pull Request https://github.com/gocept/pytest-rerunfailures/pull/17. There is already some work going on, so feel free to finish the tests so the PR can be merged.

[2015-05-21 06:04] florianpilz commented on #18
Hi sashakruglov! We (gocept) have accepted the ownership of pytest-rerunfailures and are the new maintainers.

Why do you want to rerun errors only? It should not matter if it was an error or a failure, since this only depends on the error handling. So both could have the same cause for different code paths. In addition, it should not be a concern for speed, since there shouldn't be too many broke

[2015-05-21 06:09] florianpilz commented on #7
Hi kksure! We (gocept) have accepted the ownership of pytest-rerunfailures and are the new maintainers.

Since we have limited resources ourselves, I have to ask for your assistance. It would be of great help if you could create a test for pytest-rerunfailures, which repeatedly fails due to your problem. That would help to implement a solution tremendously. Maybe you could implement the test on a

[2015-05-21 06:11] florianpilz commented on #20
Hi keightley92! We (gocept) have accepted the ownership of pytest-rerunfailures and are the new maintainers.

Even though it might be nice to see a number, it does not provide a lot of value. Compared to the other issues currently opened, it is a minor problem and not worth our time atm. If you are eager to see a number, go ahead and implement it yourself. We will gladly accept tested pull request

[2015-05-21 06:11] #20 closed

[2015-05-21 06:12] florianpilz commented on #1
@klrmn What exaclty is meant by this issue? The topic alone doesn't help.

[2015-05-21 16:42] klrmn commented on #1
i wish i remembered. i suggest you close it and wait until you / someone
else runs into whatever i thought the problem might be =). maybe i intended
for my plugin to self-disable if another plugin's --looponfail was
requested?

On Wed, May 20, 2015 at 11:12 PM, Florian Pilz <notifications@github.com>
wrote:

[2015-06-01 14:26] #1 closed

[2015-06-01 14:28] florianpilz opened #21 "Python 3 compatibility"
Make the plugin work with Python 3.

[2015-11-18 12:23] jwg4 opened #22 "Is this project unmaintained"
Is it still the case that this project is unmaintained?

I haven't seen any packages with similiar functionality for rerunning flaky tests as this for Python. Is there something else that anyone would recommend, or is this project the best place to start?

[2015-11-24 17:42] klrmn commented on #22
I was the original creator of this project, but I thought the gocept team
was planning to maintain it.

-Leah

On Wed, Nov 18, 2015 at 4:23 AM, jwg4 <notifications@github.com> wrote:

[2015-11-24 22:44] davehunt commented on #22
I just submitted a pull request, with a few enhancements. Hopefully they'll be merged and we'll see a new release. Otherwise, it might be worth seeing if we can transfer this to https://github.com/pytest-dev.

[2015-11-25 14:43] nicoddemus commented on #22
:+1: about moving to the pytest-dev organization. One of the reasons we created the organization was to embrace plugins whose maintainers no longer wish to support the project (as stated in this repo's README).

Moving this project to pytest-dev organization would be a first step, the next would be to look for an official maintainer. @davehunt seems interested and knows his way around the code fro

[2015-11-27 18:18] davehunt commented on #22
Perhaps we could get a comment from @gocept? As for being the official maintainer, if this was relocated to pytest-dev I'd be okay with a caretaker role, but I personally feel that flaky tests should be fixed or removed. I'm therefore not an advocate for the features of this plugin. :smile:

[2015-11-27 18:40] nicoddemus commented on #22
Certainly. Ideally they should have a ticket associated with them and fixed ASAP. :smile:

[2015-12-16 23:40] davehunt commented on #22
@florianpilz I see you've commented on other issues. Would you mind adding your thoughts here and in pull #23?

[2015-12-17 07:27] florianpilz commented on #22
Thanks for notifying me. Yes, gocept is still the maintainer of this package. Until this Pull Request came, there was not much interest in existing issues, so there was nothing to do. Sorry that we overlooked your Pull Request, we are still working on a solution to increase visibility of our Open Source projects.

However, we would be fine to transfer this package to `pytest-dev`. We are still int

[2015-12-17 10:47] nicoddemus commented on #22
@florianpilz could you send an email to `pytest-dev@python.org` formally requesting it to be moved to `pytest-dev` then?

[2015-12-17 21:06] florianpilz commented on #22
@nicoddemus: I'm currently on vacation. I will do so next year.

[2015-12-17 21:08] nicoddemus commented on #22
No problem, have a nice vacation! :smile:

[2016-01-19 11:03] davehunt commented on #22
@florianpilz I hope you had a great vacation. Would you have time to look over pull #23 and perhaps release a new version?

[2016-01-20 06:39] florianpilz commented on #22
@davehunt Hi, I glanced over it last week. Huge change! I need some time to consume the changes for QA. I will try to squeeze this into my usual payload, but chances are that the release must wait till first week in February (we have repeating "clean-up" weeks).

[2016-01-28 16:27] The-Compiler opened #24 "tox -e py27-ptlatest-x hangs and eats all memory"
I previously raised this at https://github.com/davehunt/pytest-html/issues/31 but I can reproduce this with rerunfailures' testsuite as well. When running `tox -e py27-ptlatest-x`, after about a minute, the tests eat up 10 GB of RAM and fail spectacularly with >15000 lines of output:

[code]

[2016-02-02 07:26] florianpilz commented on #22
Hi @davehunt, today is the day! I have big troubles to review your changes, since you mixed renames with changes. Therefore I will repeat your changes on a branch, but separate the rename part into a separate commit (and maybe split some more changes into commits). Please use smaller commits in the future. ;)

[2016-02-02 08:13] davehunt commented on #22
Let's close this issue, as the project is being maintained, and move conversation of my pull request over to the pull request. :)

[2016-02-02 13:25] florianpilz commented on #13
Was fixed by @davehunt. Before version 1.0.0 it was checked whether the test `passed`, not it is tested whether the test `failed`.

[2016-02-02 13:25] #13 closed

[2016-02-02 13:26] florianpilz commented on #21
Did already work with Python 3, but tests were broken and horribly out of date. Thanks to @davehunt for rewriting all the tests. I really like the use of the new API which only talks about `outcomes`.

[2016-02-02 13:26] #21 closed

[2016-02-02 13:32] florianpilz commented on #18
Closing the issue, since there seems to be no interested anymore.

[2016-02-02 13:32] #18 closed

[2016-02-02 13:39] florianpilz commented on #7
@kksure: In the latest release the core logic was rewritten by @davehunt. Maybe that fixed your issues, bother to try again?

From what I have seen, any test is rerun if setup, the test itself or teardown failed. I guess in your case the same setup report is given to all tests, which reruns them all. So I guess it still misbehaves.

[2016-02-02 13:40] florianpilz commented on #24
@The-Compiler Could you please try again using the latest release? Core logic and `tox.ini` was largely rewritten.

[2016-02-02 13:55] florianpilz commented on #7
@kksure: Ich just added a test concerning test classes using `setup_class`. If `--reruns` is involved the expected behavior is to rerun every test of that class. What did you mean by "changes the behavior of pytest even when used with `--reruns=0`"?

In any case, please extend / adjust the test cases concerning classes, so I can reproduce your problem.

[2016-02-02 13:58] The-Compiler commented on #24
Thanks! I can confirm this is fixed in master, and pytest-html's test also work for me when using pytest-rerunfailures from git.

[2016-02-02 13:58] #24 closed

[2016-02-03 07:02] florianpilz opened #27 "Backward Compatibility"
The plugin was largely rewritten by @davehunt in #23. However we now use `get_marker`, thus require at least `pytest >= 2.4.2`. What do you think about backward compatibility? Is it OK to drop support for older versions of pytest?

[2016-02-03 07:03] florianpilz commented on #27
@davehunt The `setup.py` currently states that `pytest >= 2.7.3` is required. Did you just choose any current version or did you depend on features introduced in `2.7.3` for your rewrite?

[2016-02-03 08:28] davehunt commented on #27
I generally work against the latest point releases of the current and previous major releases. It may be that there's still support for pytest 2.4.x -> 2.6.x. It would be easy to add these to `tox.ini` to check compatibility.

[2016-02-05 08:02] #22 closed

[2016-02-05 12:53] Kanguros opened #28 "Not compatible with resultslog"
Hi,

The plugin is not compatible with the resultslog module from pytest.

By default the resultslog will not be created. To turn on this feature you need to set the `--resultlog` or `--result-log` pytest command line parameter. If we have a failing test and run pytest like so:

`$ pytest --result-log=pytest.log --reruns=3`

we will get the following error:

`...`
`INTERNALERROR>     res = hook_im

[2016-02-05 13:23] florianpilz commented on #28
Can you provide a test or even better a Pull Request to fix this issue? I will have no time for this issue during the following weeks.

[2016-02-05 18:16] klrmn commented on #28
or a PR to the README to document the incompatibility. when I wrote it, I
never expected it to be able to work with *every* pytest plugin, i just
knew that xdist was really important to work with.

On Fri, Feb 5, 2016 at 5:23 AM, Florian Pilz <notifications@github.com>
wrote:

[2016-02-08 06:02] The-Compiler commented on #27
pytest 2.4 is now nearly 2.5 years old - if someone is still using that, they won't have issues with sticking to an older rerunfailures release either :wink:

For my plugins, I aim for 2.7/2.8 compatibility, and might drop 2.7 when 2.9 comes out. Not sure how much 2.4/2.5/2.6 compatibility is still worth, no idea how many people still use that but want to update their plugins.

[2016-02-08 13:21] davehunt commented on #27
In hindsight I think I would set the compatibility to `>= 2.7.0` rather than force users to be on the latest point release, unless there's a good reason to do so.

[2016-02-09 06:41] florianpilz commented on #27
Since tests run successfully with pytest `2.4.2` I decided to use this version in the `setup.py`. I also made sure tests are run via tox and Travis. I also documented the compatibility in the README, as well as issues I had setting up Python 3.2

[2016-02-09 06:41] #27 closed

[2016-02-23 14:02] birdsarah opened #30 "What is the interaction with pytest's -x flag"
What I'd like to happen is that if I run

`py.test --rerun 5 -x`

If a test fails it reruns it up to 5 times, but if it fails, pytest then exits.

[2016-02-24 06:56] florianpilz commented on #30
Hi Sarah, nice to see you again! (We did a Sprint together at EuroPython 2014.)

I guess what you want to achieve is that pytest continues if `-x` was given and a flaky test succeeds due to `--rerun`.

I have looked into the issue, but nothing related to `-x` seems to trigger the exit. :/ I will try to get help from the mailing list.

[2016-02-24 18:43] birdsarah commented on #30
Hi @florianpilz - indeed!

Yes, you've got it - rerun takes precedence so:
* please rerun this flaky test N times
* if it fails after N times, and `-x` is given, then please bail the whole test run.

Having looked into it, I'm confident this is what happens:

Here's output from a simple test run, that I setup to fail:

[code]

With xdist it does the same:

[code]

Except that it doesn't report the

[2016-02-26 05:52] birdsarah commented on #30
OK, I'm no longer sure about that. On some of my travis runs with xdist, it seems to be bailing out after just one failure. But that's on a pretty hairy test suite, so it could be something in the code.

[2016-02-26 14:26] birdsarah commented on #30
Oh wow! I can't read a set of test results.

Yes, even looking at the above results I posted, rerun is not doing what I hoped, the test run bails after the first failure when using xdist.

[2016-02-29 08:34] florianpilz commented on #30
Now I'm confused. What exactly did you expect?

From my understanding, the current implementation will RERUN a test and stop execution of the whole test suite if it still fails on the last RERUN when `--exitfirst` is given. Be aware that with `xdist` only the final output is logged, so I assume that the test *was* RERUN 5 times, but since it still failed the logged outcome is FAILED. (`xdist` will

[2016-03-29 06:07] #28 closed

[2016-03-29 06:10] florianpilz commented on #7
I think this problem is not present anymore. As far as I remember, the code now correctly handles a setup failure.

[2016-03-29 06:10] #7 closed

[2016-04-10 22:40] birdsarah commented on #30
@florianpilz - me too. Sorry, I totally dropped the ball on this thread. Feel free to do with this thread as you wish.

If we found a bug that's great. But it may be better to document in a new issue without the above ramblings from me.

Best,

Bird

[2016-04-11 05:18] florianpilz opened #32 "Tests stop with --exitfirst, even when rerun successfully"
There currently is a problem with `--exitfirst`. In my understanding, the tests should stop when for the first time a test failed **after rerunning it n times**. This does happen, but in contrast the tests will also stop when a test failed and succeeded during a rerun.

So in other words, currently the test suite will be run normally and stops at first failure, but this failure will be run n times

[2016-04-11 05:18] florianpilz commented on #30
OK, I extracted the bug to #32.

[2016-04-11 05:18] #30 closed

[2016-05-02 08:16] tlotze opened #33 "Don't rerun skipped tests"
Skipped tests appear to be rerun, and thereby skipped multiple times.

[2016-05-06 16:30] davehunt commented on #33
@tlotze could you provide an example? How are you skipping your tests? This certainly was an issue (see https://github.com/pytest-dev/pytest-rerunfailures/issues/13), but I believe it was addressed in v1.0.0.

[2016-05-17 05:35] rouge8 opened #34 "Command line switch to disable?"
One feature that I often find myself wishing for is a command line switch to disable reruns entirely, even for tests marked with `@pytest.flaky(reruns=N)`. This would be useful when rewriting/updating tests without commenting/uncommenting the `@pytest.flaky` decorator.

[2016-05-17 10:58] davehunt commented on #34
You should be able to disable the plugin using pytest's `-p no:rerunfailures` command line option.

[2016-05-18 16:25] rouge8 commented on #34
Hmm. That breaks if you also use `--strict` (e.g. through `pytest.ini`), but that's good enough for me.

[2016-05-19 07:14] sallner commented on #34
I also encountered a similar problem with other plugins. If there is a flag like `--rerun 3` in a `pytest.ini` or in a `tox.ini` then I found no way to switch off the plugin. `-p no:rerunfailures` will cause the following error `py.test: error: unrecognized arguments: --rerun`. Has there been a solution for other plugins to cope with that?

[2016-05-19 07:44] The-Compiler commented on #34
I've had the same issue before as well...  Is there something we could add for this scenario from the pytest side?

I guess there could be a `-p ignore:rerunfailures` or so which runs `pytest_addoption` (to add the commandline switches) but no other hooks. Then again depending what kind of stuff plugins do there (or at import time) this might lead to weird effects... So maybe this is better solved

[2016-05-19 14:51] astraw38 commented on #34
IMO, it's a non-issue that disabling a plugin also disables it's command line options. That'd be expected, and changing it would just make it more confusing. Instead, don't use plugin options in your ini files if you're also going to need to disable them at a later date.

[2016-06-01 16:55] tlotze commented on #33
In fact, I cannot reproduce the behaviour using current pytest-rerunfailures. I'll close the ticket; sorry about the noise.

[2016-06-01 16:55] #33 closed

[2016-06-01 16:56] tlotze commented on #33
In fact, I cannot reproduce the behaviour using current pytest-rerunfailures. I'll close the ticket; sorry about the noise.

[2016-07-28 17:43] mehmetg commented on #18
Would it be possible to rerun only on certain errors like done junit and testng syle retry rules/retry analyzers?

[2016-07-29 05:52] florianpilz commented on #18
Currently that is not possible. The more general solution for "selective" reruns would probably to rerun on certain tags. However, I see no harm done by rerunning *all* tests if they fail. So I'm not eager to implement a selective rerun. ;-)

[2016-07-29 05:55] florianpilz commented on #34
I agree that `-p no:rerunfailures` should be sufficient. Disabling reruns should not occur on a daily basis, rather to check if a global bugfix squished most of the brittle test failures. Removing the rerun option from a single `INI` file to avoid `unrecognized arguments` sounds good to me.

[2016-07-29 05:55] #34 closed

[2016-08-01 20:22] mehmetg commented on #18
There are some use cases that may apply, but none of which are crucial and tags should suffice for those.
Thank you.

[2016-08-05 12:08] The-Compiler opened #35 "Running tox doesn't find CHANGES.rst"
When I try to run tox locally, I get:

[code]

I have *no idea* why this happens. I really can't figure it out. I'm in the correct directory (found out by using `os.getcwd()` as filename :laughing:), `README.rst` could be read, `CHANGES.rst` is there (and I can read it)...

strace says:

[code]

[2016-08-05 17:52] tomviner commented on #35
Here's why:

[code]

And here's the fix:
[code]

PR https://github.com/pytest-dev/pytest-rerunfailures/pull/37

[2016-08-10 07:16] florianpilz commented on #35
Ah, that's how it's done! In commits 41b25be57ffa317bea075cd60176b20902c68906 and 26bba18ac5e54e75990949182b4cc5389e58eeb6 you can see that I struggled with that one myself. :>

[2016-08-10 07:31] #35 closed

[2016-08-10 22:43] lexrj opened #38 "Default to 1 rerun if number of reruns not specified"
Instead of throwing an error when the number of reruns aren't specified, can it have a default parameter of 1?

[2016-08-10 22:45] lexrj opened #39 "Indicate when a test passes on rerun / summarize number of passes to failures"
Would it be possible to provide a breakdown of passes to fails for individual test cases that needed reruns?

[2016-08-10 23:21] #39 closed

[2016-08-10 23:21] lexrj commented on #39
I realized I was actually just having trouble getting a test to rerun.

[2016-08-11 04:45] florianpilz commented on #38
Hm, that would certainly be possible. But if you are using a `pytest.ini`, that shouldn't be an issue, right?

[2016-10-27 10:53] florianpilz commented on #38
@lexrj Sorry, I did not see your response. *That* is actually very simple and I like your proposal. Since @sallner is taking over maintenance of the package: @sallner can you please implement the proposal?

[2016-11-07 07:30] sallner commented on #38
This issue was solved with #41.

[2016-11-07 07:30] #38 closed

[2016-11-16 22:36] mblaschke opened #42 "Add wait time"
For testing with infratest it would be nice to add a delay for reruns (in seconds)

[2016-11-18 07:11] icemac commented on #42
Nice idea. Pull requests are welcome.

[2016-11-29 23:36] lexrj opened #43 "Add optiontional "minimum number of passes" to consider a pass"
Currently rerunning a test n times is allowed, but as long as it passes once, the test is considered passed. It would be helpful to have a minimum number of passes required for the test to be considered a pass, for more nuanced pass rates.

Example: I know something fails 33% of the time, so I want to run it four times and make sure it passes at least twice, otherwise I should look into it.

[2016-12-02 07:00] icemac commented on #43
This seems to be an interesting idea. A pull request is welcome.

[2017-01-03 11:37] Kanguros commented on #42
This look like something that I could give a go at. @icemac can you please assign this to me?

[2017-01-26 07:08] icemac commented on #42
@Kanguros Sorry for the long delay but I am not able to assign this issue to you: Your name does not show up in the Assignees list. 😱 I am not an administrator of the project so I am not able to look into the configuration.
@sallner Are you able to assign this issue to @Kanguros?

[2017-03-15 21:34] jrbenny35 opened #44 "Using pytest-rerunfailures causes --boxed flag for pytest-xdist to not be set."
As the title says, installing this addon seems to cause xdist to ignore the ```--boxed``` flag.

```pytest -n 4 --boxed --driver Firefox```
This runs as 4 but not boxed. I don't know if this is a rerunfailures issue or an xdist issue.

[2017-03-19 21:41] QuLogic opened #45 "Rerun tests are not reported with "all" setting"
When I run `pytest -ra path/to/flaky/tests`, I expect rerun tests to be listed, but they aren't. I would this is because 'R' is not something that pytest know about.

This can be worked around using `pytest -raR path/to/flaky/tests`, but it would be nice if `-ra` automatically included 'R' tests as well.

[2017-05-03 21:44] westhomas opened #46 "Doesn't seem to work with pytest.main() execution model"
When using the pytest module `--reruns` option doesn't seem to be recognized.

Sample:

[code]

This works:
[code]

This does not:
[code]

[2017-05-06 07:20] icemac commented on #46
Using `pytest.main(["test.py", "-s", '--reruns', '5'])` does not lead to the error.
Each argument has to be a string of its own.
This is exactly what the shell does when calling `py.test test-rerun.py -s --reruns 5`.

[2017-05-06 07:20] #46 closed

[2017-05-23 18:39] icemac commented on #45
@QuLogic Interesting idea. As I never used `-ra` before I'd like to see a PR for this requested feature.

[2017-05-23 18:40] icemac commented on #44
I never used `xdist` before. Do you have an example project where this behaviour can be studied?

[2017-06-16 05:56] icemac opened #49 "Update supported versions of pytest and Python"
Drop support for
  - PYTEST=2.4.2
  - PYTEST=2.5.2
  - Python 2.6

Add Support for
  - PYTEST=3.0.7
  - PYTEST=3.1.2
  - Python 3.6

[2017-06-26 06:27] sallner commented on #42
@icemac @Kanguros it seems that I can only assign members of the pytest organization to an issue. Have you gotten any further with the actual problem? Then we can have a look at it.

[2017-07-12 13:51] rutyruty opened #50 "Ignore failed runs"
We are using jenkins.
When running with pytest-rerunfailures, the build is marked as failed when there's one failure.
====================== 1 failed, 3 passed in 2.90 seconds ======================
Build step 'Execute shell' marked build as failure
Finished: FAILURE
Is it possible not to report the failed runs if there's at least one successful run. Only if all runs failed after <num reruns> will

[2017-07-12 14:27] sallner commented on #50
Hi @rutyruty,

A typical output of a jenkins run of a larger project of ours with occasional reruns looks like this:
`======== 3391 passed, 35 skipped, 8 xfailed, 2 rerun in 1777.08 seconds ========`

I am afraid there might be a configuration error or some incompatibility on specific versions. Could you please provide more information about your system, for example from the beginning of the test

[2017-07-12 14:55] rutyruty commented on #50
Hi,

This is the complete test session:

============================= test session starts ==============================
platform linux2 -- Python 2.7.5, pytest-3.0.7, py-1.4.33, pluggy-0.4.0
rootdir: /var/Nightswatch, inifile:
/usr/lib64/python2.7/site-packages/Crypto/Util/number.py:57: PowmInsecureWarning: Not using mpz_powm_sec.  You should rebuild using libgmp >= 5 to avoid timing attack vuln

[2017-07-17 16:33] davehunt commented on #50
@rutyruty it doesn't look like pytest-rerunfailures is installed. Your test session header should include something like "plugins: rerunfailures-2.2". You could check what packages are installed by running `pip list`. You could also run your tests with `--strict` which would cause collection error such as `AttributeError: 'flaky' not a registered marker` if your tests use an unregistered marker.

[2017-07-17 18:27] rutyruty commented on #50
Hi @davehunt
Running pip list|grep rerunfailures on my env shows "pytest-rerunfailures (2.2)"
Will try to see if '--strict' will do the job. Thanks.

[2017-07-18 13:22] sallner commented on #50
@rutyruty it really seems like pytest-rerunfailures is not loaded. It happened to me once, that I called a pytest outside from my venv, so that the packages installed in the venv did not get loaded. Could you maybe check for this?

[2017-07-21 11:17] dangercrow opened #51 "Fixtures marked (scope='session') are run on every re-run"
I would expect that session fixtures are run once per session - but it seems if a `flaky` test reruns, it will run session scoped fixtures' teardown code, and then their setup again.

This can result in costly setup/teardown being unnecessarily rerun, and also seems to go against the whole point of labelling the fixture `session`

Reproduction:

[code]

Running with `pytest -s -v ...` I get:

[cod

[2017-08-16 21:48] bcfjohns commented on #49
Can you clarify what needs to be done to add support for pytest 3.1.2 and python 3.6? I did a simple test with python 3.6.1 and pytest 3.1.0 and it seemed to work fine. Planning to use this plug-in on a large project and I want to nail down the package versions we're going to start with.

[2017-08-17 06:24] The-Compiler commented on #49
I'm guessing it's just not officially tested? FWIW I'm using it fine with Python 3.4-3.6 and pytest 3.2.0.

[2017-08-17 06:32] icemac commented on #49
Let's see what TravisCI finds out in #52.

[2017-08-17 07:45] #49 closed

[2017-08-17 07:49] icemac commented on #49
@bcfjohns The freshly released version 3.0 of this package now officially supports Python 3.6 and purest 3.1.3.

[2017-08-21 13:36] sallner commented on #51
@dangercrow Thanks for the report. Just for completeness: Which pytest version do you use?

I could reproduce the behaviour you reported. It seems that pytest produces a complete teardown if there are no more items available for execution.

When I use the following example, setup and teardown seem to be only called once.

[code]

The respective result of `pytest -s -v ...` is:

[code]

Could you m

[2017-08-22 06:24] sallner commented on #50
@rutyruty could you give us an update on this matter? If you do not have any comments or questions on that, I would like to close this issue soon.

[2017-08-23 06:45] sallner commented on #42
@Kanguros What is the status of your contribution? Do you need help with anything?

[2017-10-09 13:06] sallner commented on #51
@dangercrow Do you have comments on that issue anymore? I see that this seems to be a problem, but without further confirmation it is hard to work on that.

[2017-10-09 13:07] sallner commented on #50
As there is no more reaction from @rutyruty, I close this issue

[2017-10-09 13:07] #50 closed

[2017-10-09 20:59] dangercrow commented on #51
Ta for the ping.

pytest version is 3.1.2

It seems your test case illustrates the issue quite well - I see the same behaviour as you!
When the `test_stay_true` is renamed such that `test_example_fixture_1` is the final test, I see the multiple runs of the session fixture, but when it is *not* the final test, behaviour is as semantically expected.

[2017-10-10 20:50] robertrmartinez commented on #51
I have had the same issue as well.

I have a session fixture which opens and closes a tunnel to Sauce Labs,

This 'bug' causes the final test in my suite to close the session, then once again re-open it for the rerun. Causes a good minute or two overhead each time the `final` test fails.

Tests before the final test work as expected.

So, it looks like pytest sees the final test has just run, says

[2017-10-19 03:18] dirk-thomas opened #54 "support invert case "rerunpassed""
Would it be in the scope of this plugin to support the invert case "rerunpassed" which reruns passed tests up to N times to ensure that they are not flaky?

I understand that this would be a little "against" the name of the plugin but I assume beside another command line options almost all of the logic will be the same except the condition deciding if the test needs to be retriggered.

I would be

[2017-10-19 07:02] davehunt commented on #54
@dirk-thomas check out https://github.com/pytest-dev/pytest-repeat

[2017-10-20 16:55] dirk-thomas commented on #54
I am still new to pytest and the names of the plugins seem to be always different from what I am searching for :wink: Thank you for the pointer. That plugin will do exactly what I need.

[2017-10-20 16:55] #54 closed

[2017-12-06 20:00] Kanguros commented on #42
@sallner I finally found some time to work on this. I'll try to get this finished in a couple of days. I already have the command line argument working. Now going to try to add to marker.

[2017-12-23 10:36] sallner commented on #42
@Kanguros Thank you again for working on this feature.

@mblaschke If you are still interested, I just released a 4.0 including this feature on pypi.

[2017-12-23 10:36] #42 closed

[2018-01-02 09:18] shadow1163 opened #56 "pytest run one test function, module's setup and tear-down function would run multi-times."
if test file just have one test function, the module's setup and tear-down function would run multi-times.
log as follow:
[code]
I think the module's setup and tear-down function should be run one time.

[2018-01-04 11:43] sallner commented on #56
@shadow1163 Thanks for reporting this issue. It seems to me like this is in a sense a duplicate of #51. This puts the issue a bit higher on the to-do list. Would you have some capacities to work on that?

[2018-01-04 11:47] sallner commented on #51
@dangercrow  @robertrmartinez it seems that we have another issue reported that is related to this one (#56) I will try to have a look into this issue over the next weeks.

[2018-05-15 05:02] rouge8 opened #58 "Feature request: rerun test if condition is not met (similar to hypothesis.assume())"
Sometimes when running tests with semi-random data (e.g. from [factory_boy](https://github.com/FactoryBoy/factory_boy)), you know the test will fail if the generated data matches some condition. Rather than execute the test when you know it will fail, it would be nice if you could tell pytest to re-run that test, probably configurable up to N times. For example:

[code]

This is inspired by [`assu

[2018-05-22 11:09] sallner commented on #58
@rouge8 I see the possible use case for that. Currently this plugin works on the basis of marker, to determine the potential rerun before the first run of the test. Your use case needs to determine the rerun within the test, which probably needs some deeper change in the mechanism.

One possible solution with the current mechanism could be a deliberate fail like the following:

[code]
This assumes

[2018-05-23 01:29] rouge8 commented on #58
That's definitely possible, but as you noticed, it would be nicer to retry only that known condition and not any failure in the test.

[2018-08-09 05:59] tallshort opened #64 "weird setup_class behavior with rerun"
test_rerun.py

[code]

`pytest               2.9.1
pytest-rerunfailures 4.1`
`py.test --reruns=1 test_rerun.py -v -s`

The output looks confusing. It looks the setup_class rerun happens only for test3.

[2018-09-13 17:25] OlegKuzovkov opened #67 "Expose execution count on the item level."
It would be great to know the number of executions of a current item (test case) stored in the internal variable of the object.

We have built an integration with a Test Cases Management system in our company, and for the flaky tests that were passed after a certain retry, we would like to mark them with a different status rather than always "passed".

[2018-09-17 16:07] #67 closed

[2018-10-04 07:59] #64 closed

[2018-10-17 08:11] mulawamichal opened #71 "rerun failures at session end instead of rerunning instantly"
hi,

would it be possible to eg. introduce a new option in the marker than if set would somehow collect failed tests in a list,and rerun that list at end of test session? I tried to achieve something like this myself, by simply

    request.session.items.append(request.node)

but it doesn't work with xdist, as it collects the test queue at session start and distributes it to the slave workers.

[2018-10-18 07:16] sallner commented on #71
As @RonnyPfannschmidt mentioned in [pytest-xdist#355](https://github.com/pytest-dev/pytest-xdist/issues/355) that it not possible.

If you need that so urgently, then it might also be an approach to write only those in the lastfailed cache and rerun them immediately afterwards. But I can not guarantee, that this would work, in particular with `pytest-xdist` as I have very little experience with it

[2018-10-18 14:37] #71 closed

[2018-10-27 02:44] Yanci516 opened #72 "The 4.2 version bug"
In version 4.2, when a file has multiple use cases, the first use case fails and retries without tearDownClass execution and runs setUpClass directly; in version 4.1, this situation does not execute setUpClass

[2018-11-06 08:43] icemac opened #73 "Conflict with pytest-flake8"
When having both `pytest-flake8` and `pytest-rerunfailures` activated I get the following traceback on a flake8 error:

[code]

[2018-11-06 10:12] #73 closed

[2018-11-20 15:18] sallner commented on #72
@YancyGo could you please provide a minimal example so that I can reproduce this behaviour?

[2018-12-05 10:22] freyaZhou opened #76 "Duplicated counting test case numbers with pytest-rerunfailures plugin"
If one test cases failed in teardown method with `--reruns=1`, this case will be calculated as 2 cases.

Test code:
[code]

with `--reruns=1`:
[code]
It calculated the number of test cases as 2, we can see tests="2".

when run this case without `--retrun=1`:
[code]
It calculated the number of test cases as 1, we can see tests="1", it looks more reasonable.

[2019-01-05 04:31] RibeiroAna opened #77 "Lack of rerun attribute on report since 4.2 version"
Some Pytest-HTML tests were failing since October and I realised that it was mainly because of that specific line:

`test_index = hasattr(report, 'rerun') and report.rerun + 1 or 0`

The problem is that until version 4.1, the report had a rerun attribute, but for some reason it was taken off in version 4.2.  I wish that it could come back.

[2019-01-08 09:50] RibeiroAna commented on #77
@sallner before closing the issue, just one question: when do you intend to release version 6?

[2019-01-08 10:10] sallner commented on #72
@YancyGo Does this issue still persist? In that case could you please provide a minimal example? Otherwise I will close this issue soon.

[2019-01-08 10:12] sallner commented on #77
@RibeiroAna I will add some maintenance stuff and should cut a release later today.

[2019-01-08 10:15] #77 closed

[2019-01-08 10:44] sallner commented on #77
The new release including a fix for this regression can be found here https://pypi.org/project/pytest-rerunfailures/6.0/

[2019-01-10 14:55] RibeiroAna opened #80 "Add Flake8 verification"
Hi, when I was writing my last contribution I realised that rerunfailures doesn't have Flake8 verifications. I wish I could add that (unless you don't have it for some other reason)

[2019-01-10 15:13] sallner commented on #80
Hi @RibeiroAna , thanks for that idea and I would welcome a PR very much. It was mainly, that I did not find the motivation lately. Actually, I would also like to try out `black` for general formatting. But I would prefere that as separate PR maybe in the beginning?

I will just keep a list here with potential maintenance stuff to remind myself and for other to join in.

- [ ] black as default for

[2019-01-14 23:12] NathanUrwin commented on #80
I would recommend using pylint too. The best case scenario is using pylint and flake8 together, since they both will catch things the other doesn't. Just my two cents!

[2019-02-07 08:07] sallner commented on #72
I close this bug due to a lack of feedback.

[2019-02-07 08:07] #72 closed

[2019-02-24 10:35] sourcecode14 opened #82 "Rerun , only when the Pytest fixture or setup class is failed"
Hi,

I would like to only rerun the test when the pytest fixture added inside conftest file is failed . I am not concerned about failures in actual test. I am concerned about the failures happening in pytest fixtures . Hence , I would like to rerun only when the pytest fixture or setup class is failed.

Is it possible through rerun failure plugin

[2019-03-04 20:17] KillAChicken opened #83 "Hook pytest_runtest_logfinish is not triggered for marked tests"
<h3>Reproduction path:</h3>

conftest.py
[code]

test_file
[code]
Run `./virt_env/bin/py.test . -s` shows that the hook is not triggered. However it is triggered (the message "LogFinish" is shown) if the flaky mark is removed.

<h3>Environment</h3>

pytest (4.3.0)
pytest-rerunfailures (6.0)

[2019-03-26 07:27] #83 closed

[2019-04-22 12:44] lytviakot commented on #82
Hi, @sagardaine

Did you find answer to your question?
I'm new to python and pytest and can't find the way to rerun only failed setup/teardown.

[2019-04-29 18:28] kousu commented on #43
For inspiration, [flaky](https://github.com/box/flaky)'s API for this looks like:

[code]

[2019-04-29 19:14] kousu commented on #58
flaky has a [filter in their decorator](https://github.com/box/flaky#dont-rerun-certain-types-of-failures) that implements this. It would be nice to have it in rerunfailures too; I like the output style of this plugin.

Right now, anything I mark flaky is always rerun regardless of the error, so I _cannot disambiguate what are bugs in my tests, bugs in my code, or flaky errors from my code_. I've

[2019-04-29 20:21] kousu opened #86 "Percentage Flakiness"
As an alternative to https://github.com/pytest-dev/pytest-rerunfailures/issues/43, if you have an estimate for the flakiness rate of a specific test (say, 50%, or 12%) it would be good if you could specify that on the marker:

[code]

Tests are considered failed if they fail more than the flakiness percentage so that you can disambiguate what is an acceptable level of error from what is something

[2019-05-09 15:48] kousu commented on #82
I would like to know this too. I also have flaky fixtures.

If your fixtures error with specific exceptions you know, maybe #58 would help you. Unfortunately it's not written yet.

I switched one of my projects to [flaky](https://github.com/box/flaky#dont-rerun-certain-types-of-failures) because they support that. Maybe you could use that in the meantime?

[2019-05-30 22:16] dnut commented on #51
I am observing the same behavior.
pytest 4.5.0
pytest-rerunfailures 7.0

[2019-06-10 07:48] SkilaZheng commented on #76
i also meet this issue, and if the test case rerun, how to distinguish the test cases name

[2019-06-13 05:19] anu565lol opened #91 "PluginValidationError:"
I am facing a plugin validation error.

$ pytest --reruns 5
Traceback (most recent call last):
  File "/home/vizzbee/anaconda3/lib/python3.6/site-packages/_pytest/vendored_packages/pluggy.py", line 510, in load_setuptools_entrypoints
    plugin = ep.load()
  File "/home/vizzbee/anaconda3/lib/python3.6/site-packages/pkg_resources/__init__.py", line 2404, in load
    self.require(*args, **kwargs)

[2019-06-13 05:51] #91 closed

[2019-06-13 06:08] icemac commented on #91
It seems you are using pytest 3.2.1 which is too old for pytest-rerunfailures 7.0.

[2019-06-24 22:02] jpadhye opened #92 "Can we add functionality similar to pytest-ignore-flaky plugin"
https://github.com/schettino72/pytest-ignore-flaky

Basically retry failed tests and eventually allow option to mark them as xfail instead of fail.

[2019-06-24 22:51] jpadhye commented on #92
Currently I'm implementing this functionality as follows in `conftest.py`

`
def pytest_addoption(parser):
    parser.addoption('--ignore-flaky', action="store_true", dest="ignore_flaky", default=False, help="ignore flaky tests ")

@pytest.mark.hookwrapper
def pytest_runtest_makereport(item, call):  #pylint: disable=unused-argument
    """Turn failures into xfail if test is marked as 'flaky'."""

[2019-08-13 14:14] sbhonde1 commented on #51
Hello, I am observing the same behavior.
I am using pytest for testing embedded code.
pytest 5.0.1

[2019-09-04 16:30] ivladymorov commented on #76
Are there any solutions?

[2019-10-01 17:56] ls-sergii-buchovskyi commented on #82
Same here, cannot rerun test if it errors on setup on teardown...

[2019-10-03 13:39] EdgarOstrowski commented on #32
Hi,

I tried writing a test that exposes the problem. Here it is:
[code]
If I understand the described problem this test should fail. But it doesn't it passes. So what am missing here?

[2019-10-18 19:01] arthursoprana opened #96 "Add `reason` argument to @pytest.mark.flaky, similar to @pytest.mark.xfail"
Add `reason` argument to @pytest.mark.flaky, similar to @pytest.mark.xfail. This may be useful for associating the `@pytest.mark.flaky` decorator to an issue on github, JIRA or any other issue tracker.

[2019-10-18 21:08] #96 closed

[2019-10-19 09:28] sallner commented on #96
@arthursoprana What is the reason you closed the issue again that fast. I actually quite like this idea. Would you like to provide a PR on that?

[2019-10-19 12:14] arthursoprana commented on #96
Hm sorry, I should have commented something before closing. I’ve closed because it is already possible to do so.

[2019-11-07 15:41] epage opened #97 "Integrate with JUnit"
Use case: I want to analyze my test results over time to find and address flaky tests.  My test results are uploaded to a data analysis tool like Kibana using JUnit.

Problem: Pytest's JUnit support does not capture retries.  Only the last test run is recorded and no properties are added that indicate retries.

Example JUnit:
[code]

Suggested fix: Report `execution_count` using the `record_proper

[2019-11-08 10:38] sallner commented on #97
@epage Thank you for your idea. There has been some tradition on JUnit issues around pytest mainly because the XML-format, which is used by different aggregators may vary (Jenkins, Kibana etc.)

When I read one of the most common referenced specification on [JUnit-XML](https://llg.cubic.org/docs/junit/), there seems to be not much space to indicate the retry count or even that  the test was retrie

[2019-11-08 15:26] epage commented on #97
Hmm, I thought `<properties>` was supported in `testcase` but that only lists it in `testsuite`.

However, `pytest` supports adding `<properties>` to `testcase`
https://github.com/pytest-dev/pytest/blob/master/src/_pytest/junitxml.py#L149

So I'm unsure whether it is a good idea or not to use it.

[2019-12-11 23:45] joaonc commented on #51
I actually would argue that this is the expected and correct behavior.

In certain cases when re-running flaky tests, you may _want_ to start from scratch as the flakyness may be in the setup of the tests or the setup of the tests may in some way cause flakyness down the line.

This looks like a scope that `pytest` is not intended to handle..  IMO, should be handled by the plugin as a command line

[2019-12-13 21:15] joaonc opened #99 "Incompatible with pytest-timeout plugin"
`pytest-rerunfailures` is not compatible with the [pytest-timeout](https://github.com/pytest-dev/pytest-timeout/) plugin.

Probably b/c the same pytest hooks are used.  The first time, the timeout is observed, but when the test case re-runs, there's no timeout.

`pytest-timeout`is more widely used and likely would be easier for the fix to be in this plugin if possible..

Here's a test that fails:

[2020-01-24 21:37] markmelvin opened #100 "rerunfailures doesn't actually rerun when a nested pytest.main() fails"
For various reasons that are not under my control, I have a setup where:

- I am running pytest, which launches a subprocess
- That subprocess embeds Python, which, in some cases can launch another instance of pytest using pytest.main() - which *cannot* be run in another subprocess

I have been happily using the `rerunsonfailure` plugin to re-run failed tests that do not spawn another pytest.  How

[2020-01-24 22:22] markmelvin commented on #100
Actually, I think I am mistaken and there is another failure happening during the re-runs!  I will re-open if there is actually a problem.

[2020-01-24 22:22] #100 closed

[2020-01-27 13:40] markmelvin commented on #100
Please ignore. This was my bad.

[2020-02-17 09:06] deeplook opened #101 "Rerun only for certain errors?"
I've discovered this pytest plugin, which looks very interesting to me, but ideally I would want it to rerun tests a little more fine-grained, namely only when specific errors are detected, say HTTP response codes 5xx. I don't think this is already possible, right? If not maybe consider it as a feature request?

[2020-02-18 12:55] icemac commented on #101
It is not yet possible to rerun on specific exceptions. Maybe you would like to come up with a pull request.

[2020-02-27 11:15] EpicNuts opened #102 "collision with @pytest.mark.incremental"
I have a class with 3 tests in it.
The class has an incremental mark, so that if the first test fails, the subsequent tests are failed as 'XFAIL', or expected fail instead of being run. This is very useful when the tests are used as steps to setup a specific state, as it allows to fail-fast and move on.
The problem I'm seeing is, the 3rd test has failed, and so is rerun. However the rerun test is

[2020-02-28 07:39] icemac commented on #102
Which plug-in provides `pytest.mark.incremental`?

[2020-03-02 08:41] EpicNuts commented on #102
I'm not sure it is a plug-in, as pytest uses it as an example in the simple docs:
https://docs.pytest.org/en/latest/example/simple.html#incremental-testing-test-steps

[2020-03-02 09:49] icemac commented on #102
I see. So maybe it is better to move `@pytest.mark.flaky` to the test class.
Does that work for you?

[2020-03-11 08:02] EpicNuts commented on #102
Yep, that's probably the best bet. I'm trying better control the individual tests and having a great tool like this is really helpful, so thanks for your work! :)

[2020-03-11 08:02] #102 closed

[2020-03-11 12:54] The-Compiler opened #103 "TypeError in _remove_cached_results_from_failed_fixtures with pytest 5.4"
When running the testsuite with pytest master (which is soon going to become pytest 5.4), the tests fail with:

[code]

[2020-03-12 07:07] icemac commented on #103
@The-Compiler Do you have any hints what changed in pytest what could cause the exception?

[2020-03-12 21:13] RonnyPfannschmidt commented on #103
I apologise, I missed the comment, else I wouldn't have released

I'll try to sort it out tommorow morning, but I'd appreciate if someone beat me to it

[2020-03-12 21:43] The-Compiler commented on #103
Thanks, GitHub, for closing this automatically for a qutebrowser commit saying "Probably a bad idea before this is fixed: <url>"...

[2020-03-12 22:25] RonnyPfannschmidt commented on #103
i have a fix almost ready, pr in a few

[2020-03-13 00:34] gaucheph commented on #97
wouldn't it make sense to have 2 results for the same test in this case? since it was run twice?

[2020-03-16 08:10] mayou36 opened #105 "breaks with pytest 5.4"
It seems as if pytest 5.4 breaks rerunfailures and produces an internal error.
5.3 seems to work.

The error produced (the end of it, full stacktrace e.g. here: https://travis-ci.org/github/zfit/zfit/jobs/662817882#L400) is:
[code]

[2020-03-16 13:48] icemac commented on #105
This issue is a duplicate of #103.

[2020-03-16 13:48] #105 closed

[2020-03-17 15:53] #103 closed

[2020-04-25 05:56] christiansandberg opened #108 "pytest_runtest_logreport not called on reruns"
It seems the `pytest_runtest_logreport` hook is not called for each phase if a previous phase failed. The break statement in the `pytest_runtest_protocol` implementation stops processing the rest of the reports.

[2020-04-29 09:04] sokumar4 commented on #51
@sallner I am also experiencing the same with pytest 5.3.5.
Is there any workaround for now?
Is there any plan to fix it?

[2020-04-29 15:06] dnut commented on #51
One idea is to set a global variable when the fixture runs and checking the variable before executing. Since session fixtures are being re-run, state may be reset between re-runs. There must be some way that works though. https://github.com/pytest-dev/pytest/issues/2461

[2020-05-04 21:37] MRigal opened #109 "Incompatible with pytest lazy_fixture plugin"
Hi all,

Probably similarly to #99

In `conftest.py`, I have the following:
[code]

And consider the following failing test:
[code]

Running `pytest --reruns 1 -k test_foo -s` prints out
[code]

Although the fixture are well identified by pytest in the prints `test_file.py::test_foo[print_one]`

The example here is trivial, but in my case, I want the system to run some tests at specific times and

[2020-05-08 14:22] icemac commented on #108
What would you suggest to do instead?

[2020-07-03 01:37] gnikonorov commented on #101
Hey @icemac @deeplook what were we thinking? How about to start a flag that is a comma separated string of exception names ( e.g: `--only-rerun=ValueError,BufferError,MyCustomError` )

[2020-07-09 08:18] xmo-odoo opened #112 "Allow fixtures or tests to request a rerun"
rerunfailures is nice but it's very "static". I've got a use case where I call into an external API (either as part of the test setup or as part of the test), and that API can go down or be rate-limited, in which case I want to delay the rerun until I'm reasonably sure the API will be up again, however rerunfailures only allows for hard-coded (or global options-based) delays currently.

I've tried

[2020-07-09 08:50] The-Compiler commented on #112
I suppose #101 would help with this as well? Then you could e.g. say that tests raising `ExternalAPIError` should be rerun, and sleep before raising it inside your fixture?

[2020-07-09 08:58] xmo-odoo commented on #112
Technically I can already sleep-and-raise any error I want so kind-of?

[2020-07-14 01:04] gnikonorov commented on #101
Hey @icemac I self assigned this to myself since I want to make a PR for this. My apologies if this was unwelcome

[2020-07-14 06:18] icemac commented on #101
@gnikonorov This is perfectly welcome. I was no planning to work on this issue. Thank you for tackling it.

[2020-07-15 01:16] gnikonorov commented on #43
Hey @icemac do you mind if I grab this one too?

[2020-07-16 00:50] gnikonorov opened #114 "Add CONTRIBUTING.rst"
I think we should add a [CONTRIBUTING.rst](https://github.com/pytest-dev/pytest/blob/master/CONTRIBUTING.rst) to this repo to make it clear to newcomers what to add to a successful PR.

I labelled it an enhancement, but it's really documentation.

[2020-07-16 06:07] icemac commented on #43
@gnikonorov Feel free to tackle this one, too.

[2020-07-17 00:20] #101 closed

[2020-07-19 23:06] gnikonorov commented on #112
@xmo-odoo - if I understand correctly, wouldn't [this](https://github.com/pytest-dev/pytest-rerunfailures#re-run-individual-failures) solve your problem? You could apply this to individual tests and you could set `reruns_delay` to the number of seconds you want to sleep in between reruns.

Alternatively, you could do what @The-Compiler suggested about and do something like `pytest --reruns 5 --onl

[2020-07-20 05:37] xmo-odoo commented on #112
@gnikonorov the problem of this is that the test can't specify a rerun delay. See the original use-case: this is a test which makes use of a rate-limited API, said API is specifically rate-limited on an hourly basis, so once the rate limit is hit it might be necessary to wait for 10 or 15mn until the reset depending how fast we burned through the rate limit (which is mostly though not only a funct

[2020-07-20 05:46] gnikonorov commented on #112
@xmo-odoo I see, thanks for explaining.

So basically, you’d want to pause test suite execution until the API is available again, then resume execution and you’d want to specify this as a rule along the lines of ‘if this error happens then rerun me at the start of hour’ ( just an example, I’m not saying that’s a solution ).

[2020-07-20 07:36] xmo-odoo commented on #112
@gnikonorov Pretty much yeah. I'm aware this is not quite why this plugin exists and this is only adjacent so I'm completely OK closing as out of scope, but assuming it can get the failure information I figured it could be a relatively easy addition and not *too far* away from the core purpose.

[2020-07-20 12:35] gnikonorov commented on #112
That’s beyond me to answer, since I recently started contributing to this repo. Perhaps @icemac or @sallner will be better able to answer that question

[2020-07-20 12:41] sallner commented on #112
@xmo-odoo My opinion on this issue is, that this plugin is deliberately static and simply in its usage. Your use case seems totally valid and also occurred in one of my projects. But this seems quite a large overhead to be maintained in this plugin now.

One thing, I could image though, is to implement the feature in https://github.com/pytest-dev/pytest-rerunfailures/pull/113 also as option too th

[2020-07-20 12:58] xmo-odoo commented on #112
@sallner it could work but I think for a dynamic delay I'd need one more thing: that the reruns delay be fetched after the failure (just before sleeping it off).

This way I could hook into the run and update the delay on the mark after a failure. In fact, I might not even need #113, I would just update the delay to whatever I want if the marker exception is raised, otherwise reset it to the defau

[2020-07-20 13:15] gnikonorov commented on #112
This sounds like a good candidate for a separate plugin IMO since it's not really a flaky test so much as a guaranteed failure for some dynamic amount of time due to a rate limiting API

I think [this link](http://plugincompat.herokuapp.com/) should list all pytest compatible plugins ( taken from [here](https://github.com/pytest-dev/plugincompat) if you're interested ). If one doesn't exist, I've

[2020-07-20 13:35] xmo-odoo commented on #112
That's definitely true from a functional standpoint, but I feel like there's a 95% overlap with rerunfailures at the technical level.

[2020-07-20 13:40] gnikonorov commented on #112
I agree about the overlap, but I feel the functionality is different, so we should still split this into a different plugin since it describes a different use case to someone not aware of the implementation details. But still, will defer to @sallner as he has more insight than me.

[2020-07-20 15:18] sallner commented on #112
I am with @gnikonorov in this case. Although it might seem to have reasonable overlap, the intended concept is different. This plugin is first of all intended to cover re-runs in a broad range with minimal configuration. What you describe is a rather test case or fixture based dynamically adaptable way to modify a retry of a test case. In this case even the place to change the configuration at run

[2020-07-20 15:18] #112 closed

[2020-07-20 23:41] gnikonorov commented on #80
Grabbing this as per https://github.com/pytest-dev/pytest-rerunfailures/pull/115#discussion_r457497214

[2020-07-21 13:36] gnikonorov commented on #80
How do we feel about making this repo mirror what pytest is doing and using precommit to enforce this as well

Also, we could use [black](https://pypi.org/project/black/) for code formatting like pytest does

[2020-07-23 13:32] gnikonorov commented on #112
Hi @xmo-odoo I’m going to start work on this in a separate repository in the coming days assuming no solution already exists. I’ll post a link to the project when I have something working. Is that ok with you?

[2020-07-30 22:14] gnikonorov opened #118 "Support isolated builds for toxfile"
Tox supports [isolated builds](https://tox.readthedocs.io/en/latest/config.html#conf-isolated_build) and we should take advantage of this.

Supporting this feature would require the creation of a `pyproject.toml` to inform tox how to perform the build. [The one in pytest](https://github.com/pytest-dev/pytest/blob/master/pyproject.toml) may be a good starting point.

Raised from description in http

[2020-07-30 22:17] gnikonorov opened #119 "Add setup-cfg-fmt to precommit"
As per https://github.com/pytest-dev/pytest-rerunfailures/pull/117 we now have `pre-commit` support for this repo.

A useful hook to consider adding to `pre-commit` would be [setup-cfg-fmt](https://github.com/asottile/setup-cfg-fmt) so that we can enforce a consistent config file format.

[2020-07-30 22:22] gnikonorov opened #120 "Cleanup test_only_rerun_flag test"
This is a really small refactor we should perform. As per https://github.com/pytest-dev/pytest-rerunfailures/pull/117#discussion_r462251913 we should remove any unneeded parametrized items from the tests and place them into test bodies

[2020-07-30 22:27] gnikonorov opened #121 "Drop support for python2.7"
As per https://github.com/pytest-dev/pytest-rerunfailures/pull/117#issuecomment-666177470, we should stop supporting python2.7

Once we drop 2.7 and 3.5, we should also utilize [f-strings](https://www.python.org/dev/peps/pep-0498/)

[2020-07-30 22:30] gnikonorov opened #122 "Drop support for python3.5"
As per https://github.com/pytest-dev/pytest-rerunfailures/pull/117#issuecomment-666177470, we should stop supporting python3.5

Once we drop 2.7 and 3.5, we should also utilize [f-strings](https://www.python.org/dev/peps/pep-0498/)

Note that 3.5 reached EOL 2020-09-13 as per [the pyhton developer guide](https://devguide.python.org/#status-of-python-branches). We should not drop support until EOL

[2020-07-30 22:32] #80 closed

[2020-07-30 22:32] #114 closed

[2020-07-31 06:21] icemac commented on #119
Let's try it.

[2020-07-31 12:48] sallner commented on #118
As I cannot quickly get all the pros and cons about the isolated builds in my head, could you please provide some more information on this?

[2020-07-31 12:49] graingert commented on #118
@sallner isolated builds should speed up the tests a bit as it will only build the dist once - also it makes the tests more realistic as you are testing on an artefact even close to the end product shipped to pypi

[2020-07-31 13:04] sallner commented on #97
@gaucheph I do not think, that it a good idea to have two testcases with the same name etc. as it would increase the number of testcases only in the case of a rerun. This would in turn lead to an unstable number of testcases in different runs without code change. That sounds not right for me.

[2020-08-01 00:18] #120 closed

[2020-08-03 15:59] sallner commented on #118
I am not yet convinced about adding another configuration file, but let's give it a try. Are there any caveats concerning coverage?

[2020-08-03 18:06] graingert commented on #118
pytest and tox will both read from pyproject.toml

[2020-08-05 14:40] caiolopes opened #125 "Random seed"
Should this library change the seed in order to make random dependency errors disappear on rerun?

[code]

[2020-08-06 06:17] sallner commented on #125
That is an interesting point, I have not thought about yet.

Regardless of what we do, when the seed is set in the beginning of a pytest run, then it should also be changed deterministically in further runs. This would go with the expectation that a seed allows for only one possible path and actually may catch some errors by making them reproducible.

I also do not know without deeper contemplatio

[2020-08-06 07:19] The-Compiler commented on #125
IMHO we shouldn't change the seed - it doesn't really seem like the responsibility of this plugin, and it seems rather confusing to me. If a test sets a given random seed to make things reproducible and then fails for some unrelated reason, then it'd be quite unexpected for pytest-rerunfailures to override that.

Then again, I've never tested anything involving the `random` module, so I don't real

[2020-08-06 13:09] caiolopes commented on #125
I don't have a strong opinion about that too, but to illustrate a better example then my dummy one in the issue, here it is.

I faced this issue recently with the following situation.

Someone used `choice` in the middle of a test in a project I am working with. Something like that:

[code]

So, it turned a failed test if the assertions were like:

[code]

Into a flaky one, that only failed when k

[2020-08-13 09:58] The-Compiler commented on #125
IMHO, pytest-rerunfailures should be a last-resort option to deal with tests where flakiness that can't be fixed properly (often due to e.g. complex external libraries or devices/services).

In cases like this, where there's an obvious proper fix for the test (setting the random seed), I don't think pytest-rerunfailures should try to attempt a (much worse) workaround.

Thus, with that example, I'm

[2020-08-13 12:20] caiolopes commented on #125
Makes sense @The-Compiler ! Thanks for the discussion. Can I close this issue?

[2020-08-13 12:38] The-Compiler commented on #125
I'm closing this then - thanks for the suggestion anyways! :+1:

[2020-08-13 12:38] #125 closed

[2020-09-17 07:18] ShurikMen opened #126 "Flaky in last test and fixtures more than a function"
If last test mark as flaky and it failed, then for each rerun all fixtures above function are restarted too.
[code]
Result:
[code]
This happens when nextitem is none in pytest_runtest_protocol. If you add an empty test to the end, the fixtures will not be restarted.
[code]
Result:
[code]
How correct is this decision?
[code]

[2020-09-18 06:19] icemac commented on #126
Maybe this issue is similar to #51.

[2020-09-21 09:51] ShurikMen commented on #126
Yes, it's the same problem.

[2020-09-21 09:51] #126 closed

[2020-09-26 20:46] domdfcoding opened #128 "_pytest.resultlog was removed in pytest 6.1.0"
`pytest-rerunfailures` imports `_pytest.resultlog` but the module was removed in https://github.com/pytest-dev/pytest/commit/ef946d557cc7b7f030805b94c1dbae51f39fcce4 .

As a result, it is no longer possible to use `pytest-rerunfailures` with pytest 6.1.0.

The suggested replacement is [pytest-reportlog](https://github.com/pytest-dev/pytest-reportlog).

[2020-09-27 00:24] mdmintz commented on #128
This looks related to the issue that I just faced:

[code]

All pytest tests stop working if ``pytest-rerunfailures`` is installed.

[2020-09-28 00:26] gnikonorov opened #134 "Add support for pytest-reportlog"
[pytest-reportlog](https://github.com/pytest-dev/pytest-reportlog) now replaces `_pytest.resultlog`, and `_pytest.resultlog` is no longer available in pytest v6.1.0

A pr to remove `_pytest.resultlog`is open [here](https://github.com/pytest-dev/pytest-rerunfailures/pull/129), but we should still work on integrating with the replacement

[2020-09-28 14:06] #128 closed

[2020-09-29 12:40] #121 closed

[2020-09-29 12:40] #122 closed

[2020-09-30 05:50] sallner commented on #134
The question is here, whether we really need it now. Maybe it already works out with the new implementation. Having a look at the old threads, the problem seemed to be specific to the implementation in pytest itself, so maybe we solved the problem by time now.  #28 / #29 .

[2020-10-12 09:35] bstaletic commented on #56
Hello. [ycmd](/ycm-core/ycmd) has just hit this problem. This basically makes running a single flaky test impossible, as the fixture doesn't persist.

[2020-10-15 08:24] ssbarnea commented on #134
pytest-html own ci was hit by the same change pytest master. I would recommend enabling a devel job on CI that runs on schedule and tests main dependencies from master.

Here is an example https://github.com/pytest-dev/pytest-html/blob/master/tox.ini#L24-L30 -- the list of packages to install from master is up to you but at least pytest makes sense for any pytest plugin.

For the moment I will rem

[2020-10-15 08:54] sallner commented on #134
Puh, I agree with you, that we should test for feature instead of version.

But what I do not understand, is how you get this odd pytest version if you build it from master. We should be at 6.1.1 for some time now. But I actually cannot find any version number in the repository(https://github.com/pytest-dev/pytest/blob/master/src/_pytest/__init__.py), so it seems to be only added for the release p

[2020-10-15 09:45] ssbarnea commented on #134
Wrong versioning is another issue that is up to pytest to deal with. In fact is quite a common one because even the smart versioning tools like setuptools-scm, have no idea when a major version is introduced unless you first create a tag, they all follow a very simple logic: last tag on same branch plus an increment, like `dev123`. I did not check but I am ready to bet that 6.1.0 tag was never on

[2020-10-15 10:39] hugovk commented on #134
Yep:

https://github.com/pytest-dev/pytest/pull/7805#issuecomment-700600258

[2020-10-15 13:04] nicoddemus commented on #134
I would be OK with adding a `6.3.0.dev` tag on `master` right after the first `6.2.0` release is made from `6.2.x`, if that would avoid confusion.

@bluetech thoughts?

[2020-10-16 11:59] bluetech commented on #134
@nicoddemus Let's do it! We'll need some way to make it not trigger a PyPI release.

[2020-10-16 12:23] nicoddemus commented on #134
hmmm indeed, I guess we can make use of the regex features to not match tags with end in `.dev`?

[2020-10-18 10:50] ssbarnea commented on #134
Almost all tools using git make the assumption that latest versions of a software are on the default branch. This makes sense and is natural, so instead of introducing more complexity I would suggest pytest to adopt this standard use of git.

This means that supported stabke versions should be in named branches, like `stable/1.x` and master/main should always contain the next version. It is easy a

[2020-10-18 14:03] nicoddemus commented on #134
That's the setup we have today already.

[2020-10-18 22:02] andschwa commented on #51
For what it's worth this happens for `session="class"` fixtures too. If the last test in a test class is marked flaky, and it fails, the whole class fixture is unexpectedly torn down and then set back up for the single test.

[2020-11-07 03:03] Phincle opened #143 "Add support to rerun after all test cases are executed."
when 1st round of test case execution, mark all failed cases.
then rerun the 2nd round.

it is helpful for working with pytest-xdist and Memory allocate error.
usually if rerun as soon as an error is reported, memory is till full.
if reruns after 1st round, memory wil be free.

[2020-11-12 07:27] icemac commented on #143
This behavior could be achieved running without this plug-in but with bare pytest using the `--lf` option to get a second round running only the failed tests.

[2020-11-13 02:27] Phincle commented on #143
Thanks very much，when I run without the plugin, the option is really helpful.😀
However my project need xdist for parallel acceleration,  which caused Memory error.

[2020-11-22 15:12] jbms commented on #99
The problem is indeed that the same hooks are used.  I'm not sure pytest provides a clean way to solve this, other than by combining the two plugins so that the combined functionality can be implemented.  However, there is a workaround:

If you run pytest with `-o timeout_func_only=true`, then the timeout is set in a different hook and is compatible with pytest-rerunfailures.  This does change the

[2020-12-13 14:12] BeyondEvil commented on #134
6.2.0-has-been-released-ping @nicoddemus 😛

[2020-12-13 14:19] nicoddemus commented on #134
Hey @BeyondEvil,

Sorry, is there any action points I should tackle? I thought having the `.dev` tag was enough (pytest-dev/pytest#7908)?

[2020-12-13 14:41] BeyondEvil commented on #134
Sorry about that @nicoddemus, I think I misread your previous comment. I thought you had to wait until _after_ the release of 6.2.0 to merge the fix. 😊 🙏

[2020-12-13 14:44] nicoddemus commented on #134
Ahh I see, no worries. 👍

[2020-12-21 03:23] #143 closed

[2021-01-04 03:52] rrdhani7 opened #149 "Add support to re-run pytest parametrize on retry"
Hi I have an issue when using pytest parametrize plugin. My test need parametrize plugin to generate current timestamp on runtime. But it seems that pytest-rerunfailures only use latest timestamp, instead of generate new parametrize in order to re-generate new timestamp. Is is possible to add this feature?

`@pytest.mark.parametrize(argnames="timestamp",
                             argvalues=gene

[2021-01-26 06:13] refeved commented on #109
Can anyone have a look on this issue? I can also reproduce similar problem on my envrionment which causing rerun always fail.

[2021-01-26 07:49] refeved commented on #149
I need this feature too.

[2021-02-15 12:33] sallner opened #153 "Restore compatibility with pytest master."
With the refactoring of `SetupState` in `pytest` (https://github.com/pytest-dev/pytest/pull/8219) a regression was introduced to the solution of #144/#152. @bluetech as you added the change could you maybe suggest something to go along with the new master? It would probable be a good idea to add a changelog entry for other plugins to be prepared.

[2021-02-15 12:59] sallner commented on #149
@rrdhani7 Could you elaborate more, why you cannot take the current timestamp as a first thing in the test? Or you could also use a function-scoped fixture with `generate_timestamp` to get a new timestamp on each functions run. I do not really understand, what kind of parametrization you expect in the end.

[2021-02-15 13:13] sallner commented on #58
@rouge8 @kousu With https://github.com/pytest-dev/pytest-rerunfailures/pull/147 we have the possibility to be only flaky on a condition and with https://github.com/pytest-dev/pytest-rerunfailures/pull/113 we can specify certain Exception to be a prerequisite to rerun. Is this solving your use case, or do you need something else?

[2021-02-15 13:17] sallner commented on #97
I am still not sure, whether we should add more tests in the junit.xml. As pytest 5.3 is now out for a long time, there seems to be a workaround for this problem. I will close this issue for now.

[2021-02-15 13:17] #97 closed

[2021-02-15 13:21] sallner commented on #82
@lytviakot @sourcecode14 It is now possible to specify a `--only-rerun` (https://github.com/pytest-dev/pytest-rerunfailures/pull/113)  option, which can be used in combination with a special exception raised during setup and teardown to rerun the test in this case. Please try this. I will close this issue for now. In case you need it further, please open it again.

[2021-02-15 13:21] #82 closed

[2021-02-15 13:24] sallner commented on #44
@jrbenny35 Is this still an issue for you? Otherwise I will close this issue.

[2021-02-15 13:44] sallner commented on #109
@MRigal I have never used lazy_fixtures before. What would you expect in this case? That the fixture is generated a second time?

[2021-02-15 14:06] sallner commented on #99
@joaonc It could be possible to tinker with the order in `@pytest.hookimpl`. The question here would be whether a timeout should include the rerun of a test or not.

[2021-02-15 14:58] MRigal commented on #109
@sallner yes for sure! That it re-runs the same fixture

[2021-02-15 14:59] MRigal commented on #109
If you tell me where to dig, I could give it a look, but I have only little knowledge of the internals of pytest and the plugin environment

[2021-02-17 12:47] sallner commented on #134
Is currently anyone willing to work on the compatibility with the new pytest-reportlog?

[2021-02-25 04:00] jrbenny35 commented on #44
Hey, I haven't ran into this again, if I do I can reopen it. Thanks!

[2021-02-25 06:43] #44 closed

[2021-02-27 16:10] dvarrazzo opened #154 "Not compatible with asyncio"
[code]

Fails with "RuntimeError: Event loop is closed"

[2021-03-04 18:50] duncanariey opened #155 "Failures are not recognized in request.session.testsfailed until after test teardown"
I maintain a suite of Selenium tests that have functionality to take a screenshot of the browser state in the case a test fails. The screenshot method works by checking the state of request.session.testsfailed on test setup, and checking again during teardown, and determining if the state has changed between setup and teardown. If request.session.testsfailed has changed between setup and teardown,

[2021-03-04 18:55] symonk commented on #155
seems a very long winded way of doing things to check the session, why not just check if each particular test has failed post-yield in a fixture and screenshot accordingly?

[2021-03-04 21:25] duncanariey commented on #155
This worked, thank you!

[2021-03-04 21:25] #155 closed

[2021-03-25 06:44] yuvipanda commented on #154
I played around with ordering of the mark calls, but no effect.

[2021-03-31 20:18] vyahello opened #156 "Please add option to show failure messages for all reruns"
**Problem:**
pytest-rerunfailures plugin shows only assertion message from the last launched test case. From the code snippet, it is tough to identify what went wrong on the first and second attempts.

    ~  pytest test_one.py --reruns 2 -v

    test_one.py::test_fail RERUN    [100%]
    test_one.py::test_fail RERUN    [100%]
    test_one.py::test_fail FAILED   [100%]

    =======================

[2021-04-10 14:39] xoviat opened #157 "timeout error not handled in CI run"
This failure was not handled correctly: https://github.com/pyinstaller/pyinstaller/runs/2309970398

arguments were as follows:

[code]

[2021-04-10 14:52] xoviat commented on #157
solution: the project should implement the `pytest_testnodedown` hook, and rerun the test if it failed.

[2021-04-10 14:52] xoviat commented on #157
see https://github.com/pytest-dev/pytest-xdist/blob/1dc019709c15678faa622834d3bc851abddb426c/src/xdist/dsession.py#L170

[2021-05-24 14:17] kloczek opened #159 "9.1.1: tox test suite warnings and pytest errors"
Generally tox is OK but it prints one warning:
[code]

Additionally output of the pytest in build env where I have installed many pytest extensions (so some of those errors may be false positive or result of some errors in those plugins.
I think that it would be good if you will have a look on below log:
[code]

[2021-05-25 06:34] icemac commented on #159
GHA can reproduce these problems for pytest `master`, see https://github.com/pytest-dev/pytest-rerunfailures/runs/2662425068?check_suite_focus=true

[2021-05-25 08:09] kloczek commented on #159
Good 😊 (I mean .. bad 😊 )
So what it could be? pytest issue or something which needs to be addressed in pytest-rerunfailures code?🤔

[2021-05-25 15:27] icemac commented on #159
@kloczek Sorry I was wrong about GHA: pytest switched the default branch from `master` to `main`, this broke GHA. I fixed this in #160 and cannot reproduce the problems you had running against pytest `main`.

[2021-05-25 15:31] icemac commented on #159
Locally the tests are fine, too; but I am testing against `master` of `pytest-rerunfailures` – what happens, if you test against `master`?

[2021-05-25 15:35] kloczek commented on #159
tox is usimg pytest inside virtual env and testing tox is OK.
Because of that now I think that it is not matter of pytest per se but it may be matter of one of the pytest extensions lited on top of that ticket.

[2021-05-25 17:54] kloczek commented on #159
BTW I just found that I was wrong abou tox.
Looks lik etox produces error:
[code]

[2021-05-26 06:14] icemac commented on #159
So you think the issue is invalid?

[2021-05-26 06:28] sallner commented on #159
At least the last error implies that git is not working correctly, so pre-commit is failing. Is tox in this case running from a checkout of pytest-rerunfailures or from the release? In this case, the linting checker might not work as intended but should also not be needed  to test functionality, and could be skipped.

[2021-06-18 04:21] 15klli opened #161 "reruns condition evaluates not in real time"
* version: 10.0
* code
[code]

I found that if I set the mark like the above code, It can't stop retry when after the first run. It shows that the `condition` does not evaluate in real time  but  before the case was run.

But I think  it's better if the condition evaluates in real time, because it let me able to control  the retry on runtime. For example, if  the number of  failed cases reaches  a

[2021-06-18 06:56] icemac commented on #161
To change the value of the global variable you have to declare it `global`, otherwise you create a new independent local variable in your test function:

[code]

See https://docs.python.org/3/reference/simple_stmts.html#grammar-token-global-stmt for details about `global`.

[2021-06-18 06:56] #161 closed

[2021-06-18 09:46] 15klli commented on #161
Sorry, my Fault. I forgot to add global.  But after  declaring it  `global `, it also  doesn't work.

![image](https://user-images.githubusercontent.com/17797189/122542304-21a61300-d05d-11eb-99f2-1717bd017826.png)

And I  refactor this with my [PR](https://github.com/pytest-dev/pytest-rerunfailures/pull/162)

[2021-06-26 00:28] suhjohn opened #163 "Rerun does not work with pytest-forked"
pytest                             6.2.2
pytest-forked                      1.2.0
pytest-rerunfailures               10.0
pytest-xdist                       2.3.0

Given the following versions, running `pytest -n 2 --reruns 2 --forked` does not trigger reruns. Without --forked it does. Is this intended?

[2021-06-28 06:24] icemac commented on #163
@suhjohn Could you please provide a minimal working example to reproduce the issue?

[2021-07-15 13:13] johnthagen opened #164 "Allow setting --only-rerun equivalent in the flaky decorator"
Expand support to allow the `--only-rerun` equivalent flag to be passed into the `flaky` decorator:

[code]

[2021-07-15 14:29] david-vankampen opened #165 "Add pytest.ini support for --reruns and --only-rerun options"
Currently the options are only available on the command line (and thus must be provided every time).   If support were added to read these settings from a pytest.ini file, the developer wouldn't need to remember to add them every time.  It can be done indirectly through the "addopts" arguments, but it would be more clear/self-documenting if they were distinct options as well.

[2021-08-07 20:48] kloczek commented on #159
I think that issue is a it deeper.
Looks like the test suite is used on actual developement and as set of final checks before actual commit.
I have notbing against that kind of bits but IMO by default pytest or tox shoud be performinfg actual functional code testing than for examp,e checkiing "do I run in in working git tree?".
IMO bits used on acrtual development cycle should be not default set o

[2021-08-16 01:51] heliping commented on #154
also faced this problem, I used pyppeteer to test web UI, ther rerun don't work.
![image](https://user-images.githubusercontent.com/24326525/129501190-8649db1b-6347-41c5-8cfb-00e3187b006d.png)

[2021-09-03 23:46] bstaletic commented on #51
As of recently-ish the hack with a trivial test at the end of the file doesn't cut it any more. I attempted to roll back both pytest and rerunfailures, to no avail. The attempted pull request is [here](https://github.com/ycm-core/ycmd/pull/1579/checks?check_run_id=3510459022) and you can see repeated `Captured log teardown`.

I'm hoping someone will have an idea, else I'll have to rewrite the test

[2021-09-10 10:31] johny-b commented on #154
As a ugly workaround, something like this in my `conftest.py` seems to work:
[code]

But this might have some side effects I don't know about.

[2021-09-22 20:51] alejomejia11 opened #169 "Flaky mark breaks when using along with pytest-depends plugin"
When using in the same environment the pytest plugin [pytest-depends](https://pypi.org/project/pytest-depends/) the system is unable to re run a failed test. A general and catastrophic error is obtained. The traceback can be seen below.

`INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "c:\programdata\anaconda3\envs\pyintegrationtest\lib\site-packages\_pytest\main.py", line

[2021-09-23 06:26] sallner commented on #169
I edited the issue for clearer formatting.

@alejomejia11 looking at the traceback you provided and at the code of `pytest-depends` it looks like `pytest-depends` cannot deal with a test the runs the setup (or any other step during the run) more than once. [GitLab:pytest-depends:main.py](https://gitlab.com/MaienM/pytest-depends/-/blob/master/src/pytest_depends/main.py#L39)

But this is precisely,

[2021-09-23 12:28] alejomejia11 commented on #169
As a user or consumer of pytest and their plugins, I just want to notify that pytest-rerunfailures is not compatible with another existent plugin. I'm not responsible for any of both so I don't think I would be able to do modifications in pytest-depends. If you think that doesn't make sense to have both libraries coexisting then that should be, at least, stated in the documentation file. What I wo

[2021-10-13 17:02] eriwen opened #170 "Failure information for prior failing test executions is omitted from XML reports"
Given a flaky test such as:

[code]

The output of the JUnit XML contains no `<failure>` information when a test case fails and then subsequently passes.

It looks like this:

[code]

Other test frameworks and runners typically include this failure information like this so that automated tools can process flaky test information like this in a more structured format than plain-text logs.

[code]

I

[2021-11-09 07:16] icemac opened #171 "Tests against pytest-main are broken."
It seems to be caused by https://github.com/pytest-dev/pytest/issues/9280.

[2021-11-10 07:22] icemac commented on #171
The issue in `pytest` was fixed.

[2021-11-10 07:22] #171 closed

[2021-11-23 16:38] esoma opened #172 "Rerun on crash is flaky"
The identifier used for the failures/reruns DB is inconsistent, on the client side it is built as:

https://github.com/pytest-dev/pytest-rerunfailures/blob/02c2df72fcd6a0d320538a55c6b0cec510ee3289/pytest_rerunfailures.py#L485-L488

But on the server:

https://github.com/pytest-dev/pytest-rerunfailures/blob/02c2df72fcd6a0d320538a55c6b0cec510ee3289/pytest_rerunfailures.py#L339-L340

This can lead to

[2021-11-30 03:41] wanglinwu2019 opened #174 "session scope Fixture will run again when the last testcase fail"
Here is my test module:
[code]
**and here is my fixture in conftest.py:**
[code]
Here is output:
============================= test session starts =============================
platform win32 -- Python 3.10.0, pytest-6.2.5, py-1.11.0, pluggy-1.0.0
rootdir: D:\project\pytest_test, configfile: pytest.ini, testpaths: test_rerun.py
plugins: rerunfailures-10.2
collected 3 items

test_rerun.py sessionFi

[2021-12-03 06:56] icemac commented on #174
Closing as duplicate of #51.

[2021-12-03 06:56] #174 closed

[2021-12-03 06:57] icemac commented on #56
Closing as duplicate of #51.

[2021-12-03 06:57] #56 closed

[2021-12-27 20:14] Mal-lab opened #175 "Plugin fails with [XPASS(strict)]"
Hello!
I have the following problem:
In my project, I need to use the `xfail = strict` option. I run rerun-failures with the `--only-rerun RuntimeError `parameter.
If my test passes unexpectedly, I get an error like:

Is there an easy way to avoid this? Thanks in advance!
Possible rough solution to the problem:

[2022-01-22 00:09] mgorny opened #177 "The plugin fails to load if pytest-xdist is installed but not loaded"
The plugin code seems to assume that the `xdist` plugin will be enabled if `xdist.newhooks` import succeeds. However, if `xdist` is not loaded for some reason (e.g. is explicitly disabled), then the assumption is incorrect and pytest crashes.

This can be easily reproduced using rerunfailures' own test suite:

[code]

I have reported a similar problem in SQLAlchemy, and they have devised a nice so

[2022-01-25 07:23] icemac commented on #177
Thank you for reporting this issue. A PR is welcome.

[2022-01-25 07:26] icemac commented on #51
@henzef Sorry, there is no progress on this. If someone wants to volunteer in the investigation and/or in fixing this issue: any help is welcome.

[2022-01-25 07:27] icemac commented on #175
Thank you for reporting this issue. A PR is welcome.

[2022-02-01 07:15] #177 closed

[2022-02-08 18:55] link2xt commented on #99
Turns out `timeout_func_only=true` does not work with `timeout_method = thread`, but when changed timeout method to default, the suggestion to use `timeout_func_only=true` worked: https://github.com/deltachat/deltachat-core-rust/pull/3064

[2022-02-19 04:15] dheepan2 opened #179 "need support for '--rerun-other-than' option"
It would be great to have an option to rerun other than a particular error,
For example let pytests fail if only AssertionError, and continue the number of reruns for any other Errors or Exceptions like (OSError, Memory issue, Connection issues I want a rerun option.)

We currently have '--only-rerun' similarly can we have '--rerun-other-than' option too.

[2022-02-22 07:27] icemac commented on #179
@dheepan2 Is this issue now fixed by merging #180?

[2022-02-22 08:49] dheepan2 commented on #179
yes, the issue is fixed by merging #180  We can close this issue.

[2022-02-22 08:49] #179 closed

[2022-03-02 09:35] Fleapse commented on #154
pytest-rerunfailures==10.2
![image](https://user-images.githubusercontent.com/51268198/156335053-3ec4cf6e-7964-4a68-b211-3bbdac4fae55.png)

[2022-03-23 07:19] knedlsepp opened #183 "Clarification of class/module/package level fixture support"
It is prominently listed on the main page that:

However as part of #66 certain issues with these fixtures were resolved as well as some tests added. So it seems to me that there is at least *some* level of support for these types of fixtures albeit undocumented what is the expected behavior.
I'm currently looking into this library as a replacement for https://github.com/box/flaky, which completel

[2022-04-22 08:12] arg0d commented on #154
Some recent version of pytest-asyncio has fixed the issue. When using `pytest-asyncio ~= 0.18`, this error goes away. There is also an identical issue in `flaky` project https://github.com/box/flaky/issues/166

[2022-04-26 21:00] dchebakov opened #187 "Decorator to disable a test rerunning"
Hi, thanks for such a helpful library! While using this library I encountered a test suit that deals badly with the rerunnig. Basically, that test spawns multiple threads on reruns and `pytest` never exits, but I want to keep the other test to be able to rerun with the provided global flags options `--rerun`, etc, so my question is is it currently possible to decorate one test suit so it wouldn't

[2022-04-27 06:21] icemac commented on #187
Currently this is not possible. A pull request would be welcome.

[2022-04-27 06:23] icemac commented on #175
Fixed by #186.

[2022-04-27 06:23] #175 closed

[2022-05-18 03:13] jeffwright13 commented on #45
The fact that the `-raR` command line option results in a separate `rerun test summary info` section near the end of the terminal output needs to be documented. I've been looking for this feature specifically, and actually came to these forums because I was going to report the lack of being able to see the rerun tests the summary section, and make a feature request for it. So, great to know it exi

[2022-05-18 06:09] jeffwright13 opened #191 "Enhancement: present final `rerun test summary info` section in the same way as the `test session starts` section"
The `test session starts` section is really nice in how it presents a running test suite's test outcomes: each test is shown in succession, is color-coded according to outcome, and the whole flow is easy to follow because you can follow along as individual tests get run, and either pass or fail, thereby triggering the plugin's rerun mechanism.

For example, it's easy to see in the following run:
-

[2022-05-18 18:26] jeffwright13 commented on #45
To follow up on my earlier comments: I have since discovered that using pytest option `-raR` will not show Failed test cases, whereas `-rAR` shows ALL test cases (including Passed). Either `a` or `A` are sufficient for pytest to show the `rerun test summary` info section on console.

[2022-05-23 13:49] NeilRiver opened #192 "Allure dont see rerun"
if i use  --reruns 5

allure  doesn't show that the action was

he just show "all fine"

![image](https://user-images.githubusercontent.com/41006652/169833886-249a8151-4beb-456b-bc69-0a796e555ff7.png)

and test successful
![image](https://user-images.githubusercontent.com/41006652/169834044-d811df30-3187-4716-8c64-88173f2ae814.png)

Why allure do that ?

[2022-06-01 22:59] bsipocz opened #193 "ENH: rerun tests at the end of the test run"
I would like to use `rerunfailures` in a library that has a lot of tests accessing online services. The whole test suite runs quite a long time, and some of the servers may be rather flaky at times, so would like to get everything run first and rerun the failing ones at the end of all tests, rather than right after the individual failures.

As far as I saw in the documentation this mode is not yet

[2022-06-05 10:53] alanfranz-at-work commented on #183
I'd like some clarification about this as well. What does it mean that it's not supported, and what work should be done in order to support it?

[2022-06-24 06:52] icemac commented on #192
I do not now allure at all. You need to provide more details to get the chance to understand your issue: What did you do? What did you expect? What did actually happen? What do you suggest to solve the problem?

[2022-10-21 14:15] bdfariello opened #195 "--only-rerun option triggers based on error message rather than exception type"
# Issue
When using the `--reruns 1 --only-rerun AssertionError` commands in Pytest, I expected that every test case that fails due to an AssertionError should be automatically rerun one time.

But, if the `assert` command doesn't have an error message, when the AssertionError is raised the test _is not_ rerun

Thinking that it might be using the `AssertionError` string in the error message to dete

[2022-10-21 14:19] bdfariello commented on #195
If changing this is backwards incompatible, perhaps an `--only-rerun-type` arg could be added?

[2022-10-27 06:30] icemac opened #196 "Test against pytest 7.x"
Besides `main` pytest 6.2 is the newest actually tested pytest version.

We could drop support for older versions and add tests for 7.x versions.

[2022-11-07 04:06] azazrehman opened #197 "pytest argument --rerun-except is not recognized"
I am executing the following command and it's working fine.
`pytest --reruns 5  /<my_test_file>py`
But when I add the flag --rerun-except its not recognize the flag
`pytest --reruns 5 --rerun-except AssertionError /<test_file_path>.py`

Following error received
ERROR: usage: pytest [options] [file_or_dir] [file_or_dir] [...]
pytest: error: unrecognized arguments: --rerun-except
  inifile: None
  r

[2022-11-22 07:28] icemac commented on #197
This probably occurs because `--rerun-except` was added in a version which is not released yet.

[2022-11-22 07:39] icemac commented on #197
I just released https://pypi.org/project/pytest-rerunfailures/10.3/ containing this feature.

[2022-11-22 07:39] #197 closed